{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Мой список дел</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Что надо сделать?</th>
                    <th>Создано</th>
                    <th>Дедлайн</th>
                    <th>Важность</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.formatted_creation_date }}</td>
                    <td>{{ task.formatted_deadline }}</td>
                    <td>{{ task.formatted_importance }}</td>
                    <td>{{ task.formatted_completed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}