{% extends 'index.html' %}

{% block content %}
    {% if tasks %}
    {% for task in tasks %}
    <div class="container todo-color task-block">
        <div class="container title-area title-align">
        <p class="color-options {% if task.is_completed %} completed-task {% endif %}
        {% if task.is_expired %} expired-task {% endif %}">
            {{ task.title }}
        </p>
        <p class="category-block">
            {{ task.formatted_category }}
        </p>
        </div>
        <div class="container color-options task-options">
            <div class="container">
                {% if task.is_completed %}
                    Завершено в {{ date }}
                {% else %}
                    {{ task.formatted_creation_date }}
                    {{ task.formatted_deadline }}
                    <span class="important-task">
                        {{ task.formatted_importance }}
                        {% if task.is_expired %}
                            <span class="expired-task-style">Задача просрочена!</span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            <div class="controls-block btn-group">
                <a href="{% url 'task_status' task.id %}" class="btn btn-outline-success btn-sm">
                    {% if task.is_completed %}
                        Возобновить
                    {% else %}
                        Завершить
                    {% endif %}
                </a>
                <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editTaskModal{{ task.id }}">
                    Редактировать
                </button>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-outline-danger btn-sm">
                    Удалить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="not-task-container">
        <p>
            Добавьте свою первую задачу...
        </p>
        <div class="full-screen-button-container">
            <button class="btn btn-outline-success w-100 p-3" type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                +
            </button>
        </div>
        </div>
    {% endif %}
{% endblock %}
