* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo-color {
    background: #2F4F4F;
}

.indentation {
    margin-top: 20px;
}

.left {
    margin-left: 20px;
}

.custom-left {
    padding-left: 30px;
}

.body-margin {
    margin-top: 70px;
}

.color-options {
    color: #F0F8FF;
}

.task-block {
    margin-top: 30px;
    height: 150px;
    border-radius: 20px;
}

.title-area {
    height: 100px;
    font-size: 1.4rem;
}

.completed-task {
    text-decoration: line-through;
    color: grey;
}

.title-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-options {
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}

.controls-block {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.category-block {
    width: 100px;
    float: right;
    margin-right: 50px;
    color: #F0F8FF;
    font-size: 1.2rem;
    font-family: cursive;
}

.not-task-container {
    margin-top: 30px;
    height: 170px;
    width: 100%;
    border-radius: 20px;
    background: #2F4F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-task-container p {
    font-family: cursive;
    font-size: 1.5rem;
    color: #F0F8FF;
}

.full-screen-button-container {
    width: 90%;
}

 @keyframes flash {
        0% { color: #CD5C5C; }
        25% { color: #9932CC; }
        50% { color: #ADFF2F; }
        75% { color: #9370DB; }
        95% { color: #DC143C; }
        100% { color: #CD5C5C; }
    }

.important-task {
    animation: flash 5s infinite;
}
